<%- include('../common/head.ejs') %> 
<%- include('../common/nav.ejs') %> 

<h1>Details</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, natus!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem a iste quis nihil!</p>




<%- include('../common/footer.ejs') %> 